//Importação Google Fonts
@import url('https://fonts.googleapis.com/css2?family= Sofia+Sans & display = swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Sofia Sans', sans-serif;
    font-size: 1em;
}
//Layout
.container{
    margin: 0 auto;
}
.Flex{
    display: flex;
    justify-content: space-between;

}
.Flex2{
    display: flex;
    align-items: center;
}
.Flex3{
    display: flex;
    flex-direction: column;
}
.Flex4{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.Botao{
    text-decoration: none;
    color: #ffff;
    font-size: 1.3em;
    font-weight: 700;
    background-color: #c00000;
    padding: 10px 40px;
    border: 2px solid white;
    border-radius: 25px;
}

//topo do site
#topo{
    position: fixed;
    right: 10px;
    bottom: 10px;

}

//Cartões
.Card{
    margin-top: 25px;
    width: 338px;
    height: 520px;
    background-color: #e8e8e8;
    border: 1px solid #a1a1a1;
    border-radius: 20px;
    text-align: center;
    img{
        border-radius: 25px 25px 0px 0px;
    }
    h3{
        margin-top: 15px;
    }
    p{
        text-align: left;
        color: #434343;
        padding: 10px 30px 50px 30px;
    }
    a{
        padding: 10px 100px;
    }
}

//Smartphone Portrait
//Cabeçalho
header{
    height: 60px;
}
#logo{
    img{
        width: 128px;
        height: 128px;
    }
}

#check{
    display: none;
}

label{
    font-size: 3em;
    position: fixed;
    right: 15px;
    top: 5px;
    color: rgba(0, 0, 0, 0.5);
}
nav{
    ul{
        list-style: none;
        background-color: #343538;
        height: 100vh;
        position: fixed;
        top: 60px;
        right: -100%;
        transition: all 0.5s;
        li{
            padding: 20px;
            border-bottom: 1px solid #a9a9a9;
            a{
                text-decoration: none;
                color: #ffff;
            }
        }
    }
}
#check:checked ~ ul{
    right: 0;
}
//Destaque
main{
    height: 70vh;
    background: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    h1{
        font-size: 2.5em;
    }
    h2{
        font-size: 1em;
        margin: 20px 0px 50px 0px;
    }
}
//Sobre
#sobre{
    padding: 50px 0px;
    background: url(../img/background.png);
    background-size: cover;
    background-position: center;


}
#destaqueSobre{
    display: none;
}
#textoSobre{
    color: #ffff;
    padding: 0px 10px;

    h2{
        margin-bottom: 10px;
    }
    .topicosSobre{
        margin-top: 20px;
    }
}
//One Page
#onepage{
    padding: 50px 10px;
    h2{
        margin-bottom: 10px;
    }
    p{
        margin-bottom: 25px;
    }
}
#video iframe{
    width: 340px;
    height: 191px;
}
//wireframe
#wireframe{
    padding: 50px 0px;
    background: url(../img/background.png);
    background-size: cover;
    background-position: center;
}
#textowire{
    color: #ffff;
    padding: 0px 10px;
    h2{
        margin-bottom: 10px;
    }
    p{
        margin-bottom: 40px;
    }
    span{
        display: none;
    }
}
#qrcode{
    display: none;
}
//Conteúdo
#conteudo{
    padding: 50px 0px;
    h2{
        margin-bottom: 25px;
        text-align: center;
    }
}
#todos{
    margin-top: 50px;
    text-align: center;
    a{
        text-decoration: none;
        color: #000000;
        font-weight: 700;
        font-size: 1.25em;
    }
}

// Smartphone Landscape
@media (min-width: 576px){
    
    .container{
        max-width: 540px;
    }
    main h1, main h2{
        text-shadow: #000000 0.05em 0.05em 0.05em;
    }
    #video iframe{
        width: 560px;
        height: 315px;
    }
}

// Tablet Portrait
@media (min-width: 768px){
    
    .container{
        max-width: 720px;
    }
    //Destaque
    main{
        height: 45vh;
        h1{
            font-size: 5.5em;
        }
        h2{
            font-size: 2em;
        }
    }
}

//Tablet Landscape
@media (min-width: 992px){
    
    .container{
        max-width: 960px;
    }
    main{
        height: 70vh;
    }
}
//Desktop
@media (min-width: 1200px){
    
    .container{
        max-width: 1140px;
    }
    header{
        height: 120px;
    }

    #logo{
        img{
            width: 189px;
            height: 189px;
            margin-top: 30px;
        }
    }
    label{
        display: none;
    }
    nav{
        ul{
            position: static;
            height: auto;
            background-color: transparent;
            margin-top: 50px;
            li{
                float: left;
                border: 0;
                a{
                    color: #343538;
                }
                a:hover{
                    color: aqua;
                }
            }
        }
    }
    main{
        height: 70vh;
    }
    //Sobre
    #sobre{
        background-attachment: fixed;
    }
    #destaqueSobre{
        display: inline;
        img{
            border-radius: 50%;
            margin-right: 50px;
        }
    }
    //One Page
    .Flex3{
        flex-direction: row;
        align-items: center;
    }
    //wireframe
    #wireframe{
        background-attachment: fixed;
        span{
            display: inline;
        }
    }
    #qrcode{
        display: inline;
        img{
            width: 225px;
            height: 225px;
        }
    }
}